.Portfolio {
    min-height: calc(100vh - 58px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0px;
    overflow: hidden;
}

.btns {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 30px;
    width: 100%;
    justify-content: center;

}

@media screen and (max-width:550px) {
    .btns {
        gap: 10px;
    }

    .btns bottom {
        padding: 5px 10px;
        font-size: 12px;
    }
}


.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

@media screen and (max-width:850px) {
    .projects {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:480px) {
    .projects {
        grid-template-columns: repeat(1, 1fr);
    }
}

.projects div {
    position: relative;
    transition: 5s;
    cursor: pointer;
}

.projects img {
    width: 100%;
    height: 100%;
}

.projects .text {
    transition: opacity .5s ease;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5px;
    background-color: var(--primaryColor);
    opacity: 0%;
    color: var(--white);
}

.projects div:hover .text {
    opacity: 100%;
}

.projects .text span,
.projects .text h3 {
    color: var(--white);
}
.btns bottom{
    text-transform: capitalize;
}